@model MusicWorld.Models.Albums.AlbumsCreateViewModel

@{
    ViewData["Title"] = "Create album";
}

<h1>Create new album</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformerId" class="control-label">From performer</label>
                <select asp-for="PerformerId" class="form-control" asp-items="ViewBag.PerformerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRelease" class="control-label"></label>
                <input value="@Model.DateOfRelease" class="form-control" disabled />
                <input asp-for="DateOfRelease" class="form-control" />
                <span type="date" asp-validation-for="DateOfRelease" class="text-danger"></span>
                <p class="text-center">(Leave unfilled for current date)</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
