@model MusicWorld.Models.Songs.SongsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@if (Model.ErrorMessages != null)
{
    <ul class="text-danger">

        @foreach (var message in Model.ErrorMessages)
        {
            <li>
                @message
            </li>
        }


    </ul>
}

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="inline">
                <label class="control-label">Duration</label>
                <br />
                <input type="number" asp-for="DurationMinutes" class="d-inline-block form-control col-md-3" />
                <span asp-validation-for="DurationMinutes" class="text-danger" hidden></span> :
                <input type="number" asp-for="DurationSeconds" class="d-inline-block form-control col-md-3" />
                <span asp-validation-for="DurationSeconds" class="text-danger" hidden></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label" >From album-performer</label>
                <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId" id="selectAlbumId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>